<div class="flex flex-col justify-center items-center gap-2 px-2 container">

    <div *ngFor="let category of categories"
        class="flex justify-between items-center dark:hover:bg-youtube-bg-secondary hover:bg-gray-300 px-2 p-2 rounded-md w-full cursor-pointer tabs">
        <a (click)="searchByCategory(category.name)"
            class="flex justify-between items-center gap-2 w-full text-[16px]">
            <i class="w-[10%] fas" [ngClass]="category.icon"></i>
            <span class="w-[90%]">{{ category.name }}</span>
        </a>
    </div>



</div>