@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hovercolor:hover{
    @apply bg-slate-200 cursor-pointer transition-all ease-in duration-300
}
.smooth:hover{
    @apply  cursor-pointer transition-all ease-in duration-200
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
     cursor: pointer; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5%;
     cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }
  